@font-face {
    font-family: Khmer_siemreap;
    src: url(fonts/KhmerOSsiemreap.ttf);
}

* {
    margin: 0;
    padding: 0;

}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.84);

}

.video_warp {
    position: absolute;
    height: 100vh;
    width: 100vw;

}

.video_warp>video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
        "intro_text intro_menu "
        "Box Box";
}

#intro_text {
    grid-area: intro_text;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
}

#intro_text>span {
    font-size: 40px;
    font-family: khmer_siemreap;
    color: white;
    transition: all linear 0.3s;
}

#intro_text>span:hover {
    color: orange;
}

/* =================================== */
#intro_menu {
    grid-area: intro_menu;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: baseline;
    align-items: center;
}

#intro_menu>a {
    padding: 10px 25px;
    text-decoration: none;
}

#intro_menu>a>span {
    font-family: khmer_siemreap;
    font-size: 18px;
    color: white;
    transition: all linear 0.3s;
}

#intro_menu>a:hover>span {
    color: orange;
}

/* =================================== */
/* #intro_btn {
    grid-area: btn;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro_btn>a {
    font-size: 20px;
    font-family: monospace;
    color: white;
    padding: 18px 30px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    transition: all linear 0.3s;
    text-decoration: none;
}

#intro_btn>a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-color: black;
} */

/* =================================== */
.Content {
    grid-area: Box;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left_menu main";

}

#left_menu {
    grid-area: left_menu;
     background-color: rgb(0, 0, 0,0.4);
    backdrop-filter: blur(4px);
    width: 10px;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    transition: all linear 0.3s;
    border-radius: 10px;
}

#left_menu:hover {
    width: 210px;
background-color: rgb(0, 0, 0,0.2);

}

#left_menu:hover>div {
    opacity: 1;
}

#text_menu_bar {
    height: 50px;
    width: 100%;
        background-color: rgba(255, 255, 255, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 50px 50px 0px;
    opacity: 0;
    transition: all linear 0.3s;
}

#text_menu_bar>p {
    text-align: center;
    color: white;
    font-family: khmer_siemreap;
    font-size: 25px;
}

#link_menu,
#link_menu>a {
    border-radius: 50px;
}

#link_menu {
    height: 50px;
    width: 200px;
    transition: all linear 0.3s;
    opacity: 0;
}

#link_menu>a {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    color: white;
    font-size: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}


/* =================================== */
/* =================================== */
#Main {
    grid-area: main;
    /* background-color: blue; */
    border-radius: 10px;





}

/* =================================== */
#Stuct_topic {
    width: 100%;
    height: 90Vh;
    min-height: 0;
    min-width: 0;
    display: grid;
    grid-template-columns: 95%;
    grid-auto-flow: row;
    /* grid-template-rows: 900px 2050px 900px 900px; */
    grid-auto-rows: auto;
    /* grid-template-rows: repeat(4 , auto); */
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    gap: 1em;


}
.topic{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
/* =================================== */
.body_topic {
    width: 100%;
    height: 100%;
   background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

#text_of_the_topic {
    width: 63%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    
}
#text_of_the_topic > pre {
    
    font-size: 25px;
    font-family: khmer_siemreap;
    color: white;
    white-space: pre-wrap;
    word-break: break-word;
    
    
}
/* =================================== */
#Image_of_the_topic {
    width: 35%;
    height: 100%;   
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    
    
}
#Image_of_the_topic > img{
    width: 80%;
}
#Image_of_the_topic > table{
    border: 1px solid rgba(0, 0, 0, 0);
}
#Image_of_the_topic > table  tr >td{
    width: 250px;
    text-align: start;
    font-family: khmer_siemreap;
    font-size: 20px;
    color: white;
}

/* =================================== */

#header {
    width: 100%;
    height: 50px;
   background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: baseline;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: 10px;
}

#header>p {
    font-family: khmer_siemreap;
    font-size: 30px;
    margin: 0px 0px 0px 20px;
 color: white;

}

/* =================================== */

.topic_1 {
    width: 100%;
    height: auto;
    /* background-color: rebeccapurple; */

}

#body_topic_1 {

}

#body_topic_1 > #Image_of_the_topic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1em;

}
#body_topic_1 > #Image_of_the_topic > table{
    border: 1px solid rgba(0, 0, 0, 0);
}
#body_topic_1 > #Image_of_the_topic > table  tr >td{
    width: 250px;
    text-align: start;
    font-family: khmer_siemreap;
    font-size: 20px;
    color: white;
}



/* =================================== */

.topic_2 {
    width: 100%;
    /* background-color: rgb(0, 255, 234); */
   height:auto;
  
   
}

#body_topic_2 {
}
#body_topic_2 >#Image_of_the_topic > img{
    width: 50%;
}

/* =================================== */

.topic_3 {
    width: 100%;
    /* background-color: rgb(63, 153, 51); */
    height:auto;
    
   
    
}

#body_topic_3 {}

/* =================================== */

.topic_4 {
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    height:100%;
}

#body_topic_4 >#Image_of_the_topic > img{
    width: 50%;
}
#body_topic_4 {}